{% set localUrl = '/' | url(true) %}

{% if localUrl == 'http://localhost:3000/' %}
	{% set start_url = localUrl %}
{% endif %}

<!doctype html>
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{{ name }}</title>
		<meta name="author" content="{{ author }}">
		<meta name="description" content="{{ description }}">
		<link rel="icon" href="{{ start_url }}/img/favicon.png" type="image/svg+xml">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@{{ author }}">
		<meta name="twitter:creator" content="@{{ author }}">
		<meta property="og:url" content="{{ start_url }}">
		<meta property="og:title" content="{{ name }}">
		<meta property="og:description" content="{{ description }}">
		<meta property="og:image" content="http://graphics8.nytimes.com/images/2011/1">
		<!--<link rel="manifest" href="{{ start_url }}_data.json">-->
		<link href="{{ repository }}" rel="me">
		<link rel="webmention" href="https://webmention.io/ionote.vercel.app/webmention">
		<link rel="pingback" href="https://webmention.io/ionote.vercel.app/xmlrpc">
		<link rel="stylesheet" href="{{ start_url }}style/style.css">
		<style>
			@font-face {
				font-family: 'Punk Mono';
				font-display: swap;
				font-weight: 400;
				font-stretch: normal;
				font-style: normal;
				src: url({{ font }}) format('woff2');
			}
			:root {
				--link-color: {{ theme_color }};
				--fg: {{ forground_color }};
				--bg: {{ background_color }};
			}
		</style>
	</head>
	<body>
		{{ content | safe }}
	</body>
</html>
